<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> New Teacher </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <!-- First Name -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="First name" formControlName="dsFirstName">
        </mat-form-field>
        <small *ngIf="form.controls['dsFirstName'].hasError('required') && form.controls['dsFirstName'].touched"
          class="mat-text-warn">You must include a first name.</small>
        <small *ngIf="form.controls['dsFirstName'].hasError('maxlength') && form.controls['dsFirstName'].touched"
          class="mat-text-warn">Your first name cannot exceed 50 characters.</small>
      </div>
      <!-- Sur Name -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Sur name" formControlName="dsSurNames">
        </mat-form-field>
        <small *ngIf="form.controls['dsSurNames'].hasError('required') && form.controls['dsSurNames'].touched"
          class="mat-text-warn">You must include a sur name.</small>
        <small *ngIf="form.controls['dsSurNames'].hasError('maxlength') && form.controls['dsSurNames'].touched"
          class="mat-text-warn">Your sur name cannot exceed 50 characters.</small>
      </div>
       <!-- Gender -->
       <div class="mb-1">
          <label>Gender</label>
          <br>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female" class="ml-3">Female</mat-radio-button>
          </mat-radio-group>
          <small *ngIf="!form.controls['gender'].valid && form.controls['gender'].touched" class="mat-text-warn">You
            must
            select a gender.</small>
        </div>
      <!-- Address MX -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Address (MX)" formControlName="mxAddress">
        </mat-form-field>
        <small *ngIf="form.controls['mxAddress'].hasError('maxlength') && form.controls['mxAddress'].touched"
          class="mat-text-warn">Your address cannot exceed 250 characters.</small>
      </div>
      <!-- Address Home -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Address (Home)" formControlName="homeAddress">
        </mat-form-field>
        <small *ngIf="form.controls['homeAddress'].hasError('maxlength') && form.controls['homeAddress'].touched"
          class="mat-text-warn">Your home address cannot exceed 250 characters.</small>
      </div>
      <!-- mxPhone -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Phone (MX)" formControlName="mxPhone">
        </mat-form-field>
        <small *ngIf="form.controls['mxPhone'].hasError('required') && form.controls['mxPhone'].touched"
          class="mat-text-warn">You must include a sur name.</small>
        <small *ngIf="form.controls['mxPhone'].errors?.phone && form.controls['phone'].touched"
          class="mat-text-warn">You must include a valid phone number.</small>
      </div>
      <!-- Email  -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Email address" formControlName="email" type="email">
        </mat-form-field>
        <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
          class="mat-text-warn">You must include an email address.</small>
        <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You
          must include a valid email address.</small>
      </div>
      <!-- unsisStartedAt -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Unsis Started At" formControlName="unsisStartedAt" type="date">
        </mat-form-field>
        <small *ngIf="form.controls['unsisStartedAt'].hasError('required') && form.controls['unsisStartedAt'].touched"
          class="mat-text-warn">You must include a date.</small>
        <small *ngIf="form.controls['unsisStartedAt'].errors?.date && form.controls['unsisStartedAt'].touched"
          class="mat-text-warn">You must include a valid date.</small>
      </div>
      <!-- unsisLeftAt -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Unsis Left At" formControlName="unsisLeftAt" type="date">
        </mat-form-field>
        <small *ngIf="form.controls['unsisLeftAt'].errors?.date && form.controls['unsisLeftAt'].touched"
          class="mat-text-warn">You must include a valid date.</small>
      </div>
      <!-- comments -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
        </mat-form-field>
        <small *ngIf="form.controls['comments'].hasError('maxlength') && form.controls['comments'].touched"
          class="mat-text-warn">Your first name cannot exceed 250 characters.</small>
      </div>
      <!-- User Creation -->
      <div class="mb-1">
        <mat-label>
          Create User
        </mat-label>
        <br>
        <mat-radio-group formControlName="swActive">
          <mat-radio-button value="y">Yes</mat-radio-button>
          <mat-radio-button value="n">No</mat-radio-button>
        </mat-radio-group>
        <small *ngIf="!form.controls['swActive'].valid && form.controls['swActive'].touched" class="mat-text-warn">
          You must select one</small>
      </div>
      <!-- Emergency Contact -->
      <hr>
      <!-- First Name -->
      <div class="mb-1">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="First name" formControlName="dsFirstName">
        </mat-form-field>
        <small *ngIf="form.controls['dsFirstName'].hasError('required') && form.controls['dsFirstName'].touched"
          class="mat-text-warn">You must include a first name.</small>
        <small *ngIf="form.controls['dsFirstName'].hasError('maxlength') && form.controls['dsFirstName'].touched"
          class="mat-text-warn">Your first name cannot exceed 50 characters.</small>
      </div>
      <hr>
      <mat-card-actions>
        <span fxFlex></span>
        <button mat-raised-button class="mr-5" color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </form>
  </mat-expansion-panel>
</mat-accordion>