<mat-card>
    <mat-card-header>
      <mat-card-title>New Student</mat-card-title>    
    </mat-card-header>
    <hr>
    <form [formGroup]="form">
      <mat-card-content>
        <!-- Matrícula -->
        <div class="mb-1">
          <mat-form-field>
            <input matInput placeholder="Student Code" formControlName="matricula">
          </mat-form-field>
          <small *ngIf="form.controls['matricula'].hasError('required') && form.controls['matricula'].touched"
            class="mat-text-warn">You must include a matrícula.</small>
          <small *ngIf="form.controls['matricula'].hasError('minlength') && form.controls['matricula'].touched"
            class="mat-text-warn">Matrícula must be at least 10 characters long.</small>
          <small *ngIf="form.controls['matricula'].hasError('maxlength') && form.controls['matricula'].touched"
            class="mat-text-warn">Matrícula cannot exceed 10 characters.</small>
        </div>
        <!-- First Name -->
        <div class="mb-1">  
          <mat-form-field>
            <input matInput placeholder="First name" [formControl]="form.controls['fname']">
          </mat-form-field>
          <small *ngIf="form.controls['fname'].hasError('required') && form.controls['fname'].touched"
            class="mat-text-warn">You must include a first name.</small>
          <small *ngIf="form.controls['fname'].hasError('minlength') && form.controls['fname'].touched"
            class="mat-text-warn">Your first name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['fname'].hasError('maxlength') && form.controls['fname'].touched"
            class="mat-text-warn">Your first name cannot exceed 50 characters.</small>
        </div>
        <!-- Sur Name -->
        <div class="mb-1">
          <mat-form-field>
            <input matInput placeholder="Sur name" [formControl]="form.controls['sname']">
          </mat-form-field>
          <small *ngIf="form.controls['sname'].hasError('required') && form.controls['sname'].touched"
            class="mat-text-warn">You must include a sur name.</small>
          <small *ngIf="form.controls['sname'].hasError('minlength') && form.controls['sname'].touched"
            class="mat-text-warn">Your first name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['sname'].hasError('maxlength') && form.controls['sname'].touched"
            class="mat-text-warn">Your first name cannot exceed 50 characters.</small>
        </div>
        <!-- Last Name -->
        <div class="mb-1">
          <mat-form-field>
            <input matInput placeholder="Last name" [formControl]="form.controls['lname']">
          </mat-form-field>
          <small *ngIf="form.controls['lname'].hasError('required') && form.controls['lname'].touched"
            class="mat-text-warn">You must include a last name.</small>
          <small *ngIf="form.controls['lname'].hasError('minlength') && form.controls['lname'].touched"
            class="mat-text-warn">Your first name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['lname'].hasError('maxlength') && form.controls['lname'].touched"
            class="mat-text-warn">Your first name cannot exceed 50 characters.</small>
        </div>
        <!-- Gender -->
        <div class="mb-1">
          <label>Gender</label>
          <br>
          <mat-radio-group [formControl]="form.controls['gender']">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female" class="ml-3">Female</mat-radio-button>
          </mat-radio-group>
          <small *ngIf="!form.controls['gender'].valid && form.controls['gender'].touched" class="mat-text-warn">You
            must
            select a gender.</small>
        </div>
        <!-- Cd Faculty -->
        <div class="mb-1">
            <mat-form-field>
                <mat-label>Faculty</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="Info">
              Info
            </mat-option>
            <mat-option value="mun">
              Municipales
            </mat-option>
          </mat-select>
          </mat-form-field>
          <small *ngIf="!form.controls['swUser'].valid && form.controls['swUser'].touched" class="mat-text-warn">You
            must
            select one</small>
        </div>
        <!-- Email -->
        <div class="mb-1">
          <mat-form-field>
            <input matInput placeholder="Email address" [formControl]="form.controls['email']" type="email">
          </mat-form-field>
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
            class="mat-text-warn">You must include an email address.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You
            must include a valid email address.</small>
        </div>
        <!-- User Creation -->
        <div class="mb-1">        
              <mat-label>
                Create User
              </mat-label>
              <br>
          <mat-radio-group [formControl]="form.controls['swUser']">
            <mat-radio-button value="y">Yes</mat-radio-button>
            <mat-radio-button value="n">No</mat-radio-button>
          </mat-radio-group>
          
          <small *ngIf="!form.controls['swUser'].valid && form.controls['swUser'].touched" class="mat-text-warn">You
            must
            select one</small>
        </div>
        <!-- R Complete -->
        <div class="mb-1">
          <br>
          <mat-form-field>
            <input matInput placeholder="rComplete" [formControl]="form.controls['rcomplete']" type="number">
          </mat-form-field>
          <mat-slider style="width: 100%" (change)="form.controls.rcomplete.setValue(slider2.value)" #slider2 [max]="max"
            [min]="min" [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="tickInterval"
            [(value)]="form.controls['rcomplete'].value" color="accent">
          </mat-slider>
          <small *ngIf="form.controls.rcomplete.errors?.range && form.controls.rcomplete.touched"
            class="mat-text-warn">Number should be between {{min}} and {{max}}.</small>
        </div>
        <!-- Entrypoint -->
        <div class="mb-1">
          <mat-form-field>
            <input matInput placeholder="Entrypoint" [formControl]="form.controls['entrypoint']" type="date">
          </mat-form-field>
          <small *ngIf="form.controls['entrypoint'].hasError('required') && form.controls['entrypoint'].touched"
            class="mat-text-warn">You must include a date.</small>
          <small *ngIf="form.controls['entrypoint'].errors?.date && form.controls['entrypoint'].touched"
            class="mat-text-warn">You
            must include a valid date.</small>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-actions>
        <span fxFlex></span>
        <button mat-raised-button class="mr-5" color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>