<div class="main-container">
    <mat-toolbar color="primary" class="topbar telative">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- <img src="assets/images/logo.png" alt="homepage" class="dark-logo"> -->
                <!--          <img src="assets/images/CENID-logo.png" alt="homepage" class="light-logo">
                 -->
                <span fxShow="false" fxShow.gt-xs>
                    <img src="assets/images/CENID-logo-white_1.png" alt="homepage" class="dark-logo">
                    <img src="assets/images/CENID-logo-white_1.png" class="light-logo" style="height:80px" alt="homepage">
                </span>
            </a>
        </div>
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex></span>

        <app-toolbar ></app-toolbar>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav   #snav id="snav" 
        class="dark-sidebar pl-xs" 
        [mode]="mobileQuery.matches ? 'side' : 'over'" 
        fixedTopGap="0"
        [opened]="mobileQuery.matches" 
        [disableClose]="mobileQuery.matches">
        <app-sidenav >


        </app-sidenav>
    </mat-sidenav>
        <mat-sidenav-content class="page-wrapper">
            <div class="page-content">
                <router-outlet>
                    <!-- <app-spinner></app-spinner> -->
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>