<mat-list-item (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
  [ngStyle]="{'padding-left': (depth + 1) +'em'}">
  <a class="">
    <mat-icon>{{item.icon}}</mat-icon>
    <span>{{ item.name}}</span>
    <span fxFlex></span>
    <span fxFlex *ngIf="item.children && item.children.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
    </span>
  </a>
</mat-list-item>
<div *ngIf="expanded">
  <app-item-nav *ngFor="let child of item.children" [item]="child" [depth]="newDepth">
  </app-item-nav>

</div>